In [4]:
import psycopg2

def run_query(
    query: str,
    host: str="localhost",
    port: str="5432",
    dbname: str="itversity_retail_db",
    user: str="itversity_retail_user",
    password: str="itversity",
):
    try:
        connection = psycopg2.connect(
            host=host,
            port=port,
            dbname=dbname,
            user=user,
            password=password
        )
        print("Connecting to database successfully!")
        cursor = connection.cursor()
        cursor.execute(query=query)
        column_names = [desc[0] for desc in cursor.description]
        rows = cursor.fetchall()
        print(" | ".join(column_names))
        for row in rows:
            print(" | ".join(map(str, row)))
    except psycopg2.Error as e:
        print(f"Error: {e}")
    finally:
        # Close the connection
        if cursor:
            cursor.close()
        if connection:
            connection.close()
        print("Database connection closed!")

In [5]:
query = "SELECT * FROM orders LIMIT 10;"
run_query(query)

Connecting to database successfully!
order_id | order_date | order_customer_id | order_status
1 | 2013-07-25 00:00:00 | 11599 | CLOSED
2 | 2013-07-25 00:00:00 | 256 | PENDING_PAYMENT
3 | 2013-07-25 00:00:00 | 12111 | COMPLETE
4 | 2013-07-25 00:00:00 | 8827 | CLOSED
5 | 2013-07-25 00:00:00 | 11318 | COMPLETE
6 | 2013-07-25 00:00:00 | 7130 | COMPLETE
7 | 2013-07-25 00:00:00 | 4530 | COMPLETE
8 | 2013-07-25 00:00:00 | 2911 | PROCESSING
9 | 2013-07-25 00:00:00 | 5657 | PENDING_PAYMENT
10 | 2013-07-25 00:00:00 | 5648 | PENDING_PAYMENT
Database connection closed!

In [ ]:
import pandas as pd

conn_uri = 'postgresql://itversity_retail_user:itversity@localhost:5432/itversity_retail_db'

In [7]:
pd.read_sql('orders', conn_uri)

       order_id order_date  order_customer_id     order_status
0             1 2013-07-25              11599           CLOSED
1             2 2013-07-25                256  PENDING_PAYMENT
2             3 2013-07-25              12111         COMPLETE
3             4 2013-07-25               8827           CLOSED
4             5 2013-07-25              11318         COMPLETE
...         ...        ...                ...              ...
68878     68879 2014-07-09                778         COMPLETE
68879     68880 2014-07-13               1117         COMPLETE
68880     68881 2014-07-19               2518  PENDING_PAYMENT
68881     68882 2014-07-22              10000          ON_HOLD
68882     68883 2014-07-23               5533         COMPLETE

[68883 rows x 4 columns]